node_modules
dist
.env
.env.*
!.env.example
**/firebase-service-account.json

npm-debug.log
yarn-error.log
pnpm-debug.log

Dockerfile*
docker-compose*.yml

.git
.gitignore
.gitattributes

build
coverage
test

README.md
Jenkinsfile
.vscode
.idea
.claude
.agents
