PORT=
ACCESS_TOKEN_SECRET=
MONGODB_CONNECTIONSTRING=
MINIO_ENDPOINT=
MINIO_PORT=
MINIO_USE_SSL=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET_POSTS=
MINIO_BUCKET_MESSAGES=
MINIO_BUCKET_AVATARS=
MINIO_PUBLIC_BASE_URL=
MEDIA_MAX_FILE_SIZE=
MEDIA_MAX_FILES=
MEDIA_POST_MAX_DIMENSION=
MEDIA_MESSAGE_MAX_DIMENSION=
MEDIA_AVATAR_MAX_DIMENSION=
MEDIA_POST_QUALITY=
MEDIA_MESSAGE_QUALITY=
MEDIA_AVATAR_QUALITY=
